<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table_comp</title>
</head>
<body>
     <div>
        <h1><a href="/">Столы-компы</a></h1>
    </div>

        <div>


                {% for tables in tabl_comp %}
                    <p> Стол</p>
                    <p>Аудитория:  {{table.auditoria|escape }}</p>
                    <p>Серия: {{table.inv_num|escape }}</p>
                    <p>Тип: {{table.type|escape }}</p>
                    <p>Ответственное лицо: {{table.Contact|escape }}</p>
                    <br>
                {% endfor%}



            {% for comps in tabl_comp %}
                <p> Комп</p>
                <p>Имя:  {{comp.name|escape }}</p>
                <br>
            {% endfor%}


        </div>
</body>
</html>