<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table_comp</title>
</head>
<body>
     <div>
        <h1><a href="/">Столы-компы</a></h1>
    </div>

        <div>


            {% for tables in my_tables %}
                <p> Стол</p>
                <p>Аудитория:  {{tables.auditoria|escape }}</p>
                <p>Серия: {{tables.inv_num|escape }}</p>
                <p>Тип: {{tables.type|escape }}</p>
                <p>Ответственное лицо: {{tables.Contact|escape }}</p>
                <br>
            {% endfor%}


        </div>
</body>
</html>