{% extends 'knastu/base.html' %}
{% block content %}

<div class="user_mo_list_box">
    <p class="location_name">{{ spec_name }}</p>
    <p class="location_name">Всего: {{ comps.count }} компьютеров, {{ monitors.count }} мониторов, {{ mo_list.count }} малоценных объекта(ов)</p>

    <p class="type_of_list" id="alph" onclick="set_alphabet()"> По алфавиту </p> <p class="type_of_list" id="loc" onclick="set_locations()"> По аудиториям</p>

    <div class="alphabet_lists">
    <div>
        {% for mo_type, count in types %}
            {% ifchanged %}
                </div> <div class="letter_list"> <p class="first_letter">{{ mo_type.0 }}</p>
                {% if mo_type.0 == 'К' %}
                    <p class="types">Компьютеры в сети: {{ comps.count }}</p>
                    <div class="types_result">
                        {% for comp in comps %}
                            <div class="types_mo_group_result">
                                <li class="mo_name"><a name="{{ comp.id }}" onclick="get_comp_detail(this)"> {{ comp.name }} </a></li>
                                <div class="mo_detail" style="display: none;">
                                    <div id="{{ comp.id }}_detail"></div>

                                    <p>
                                        <a class="mo_action" onclick="update_comp({{ comp.id }})" id="myBtn">Редактировать</a>
                                        <a class="mo_action" href="{% url 'del_comp' pk=comp.pk %}">Удалить объект</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if mo_type.0 == 'М' %}
                    <p class="types">Мониторы в сети: {{ monitors.count }}</p>
                    <div class="types_result">
                        {% for monitor in monitors %}
                            <div class="types_mo_group_result">
                                <li class="mo_name"><a name="{{ monitor.id }}" onclick="get_monitor_detail(this)"> {{ monitor.name }}: {{ monitor.otherserial }} </a></li>
                                <div class="mo_detail" style="display: none;">
                                    <div id="{{ monitor.id }}mon_detail"></div>
                                    <p>
                                        <a class="mo_action" onclick="update_monitor({{ monitor.id }})" id="myBtn">Редактировать</a>
                                        <a class="mo_action" href="{% url 'del_monitor' pk=monitor.pk %}">Удалить объект</a>
                                    </p>

                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endifchanged %}


            <p class="types">{{ mo_type }}: {{ count }} шт </p>

            <div class="types_result">
                    {% for k, v in mo_dict.items %}
                        {% if  k == mo_type %}
                            {% for mo in v %}
                                <div class="types_mo_group_result">
                                    <li class="mo_name"><a name="{{ mo.MO_id }}" onclick="get_mo_detail(this)"> {{ mo.name }} - {{ mo.serial }} </a></li>
                                    <div class="mo_detail" style="display: none;">
                                        <p>ИН: {{ mo.serial }}</p>
                                        <p>Аудитория: {{ mo.location }}</p>
                                        <p>Ответственный: {{ mo.contact }}</p>
                                        <p>Тип объекта: {{ mo.mo_type }}</p>

                                        <div id="mo_detail_res"></div>
                                        <p>
                                            <a class="mo_action" onclick="update_mo({{ mo.MO_id }})" id="myBtn">Редактировать</a>
                                            <a class="mo_action" href="{% url 'del_mo'  pk=mo.MO_id %}">Удалить объект</a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
        {% endfor %}
    </div>
    </div>

    <div class="location_lists">
        {% for item in locations %}
            <p>{{ item.location }}: {{ item.count }} </p>
        {% endfor %}
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="edit_mo">
            </div>
        </div>

    </div>

</div>

{% endblock content %}