{% extends 'knastu/base.html' %}
{% block content %}

<div class="user_mo_list_box">
    <p class="location_name">{{ spec_name }}</p>
    <p class="location_name">Всего: {{ comps.count }} компьютеров, {{ monitors.count }} мониторов, {{ mo_list.count }} малоценных объекта(ов)</p>

    <p class="type_of_list" id="alph" onclick="set_alphabet()"> По алфавиту </p> <p class="type_of_list" id="loc" onclick="set_locations()"> По аудиториям</p>

    <div class="alphabet_lists">
    <div>
        {% for mo_type, count in types %}
            {% ifchanged %}
                </div> <div class="letter_list"> <p class="first_letter">{{ mo_type.0 }}</p>
                {% if mo_type.0 == 'К' %}
                    <p class="types">Компьютеры в сети: {{ comps.count }} шт</p>
                    <div class="types_result">
                        {% for comp in comps %}
                            <div class="types_mo_group_result">
                                <label>
                                    <input class="check checkbox" type="checkbox" name="comp {{ comp.id }}" />
                                    <span class="checkbox-custom"></span>
                                </label>

                                <p class="mo_name"><a  class="get_id" name="{{ comp.id }}" onclick="get_comp_detail(this)"> {{ comp.name }} </a></p>
                                <div class="mo_detail" style="display: none;">
                                    <div id="{{ comp.id }}_detail"></div>
                                    <p>
                                        <a class="mo_action" onclick="update_comp({{ comp.id }})" id="myBtn">Редактировать</a>
                                        <a class="mo_action" href="{% url 'del_comp' pk=comp.pk %}">Удалить объект</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if mo_type.0 == 'М' %}
                    <p class="types">Мониторы в сети: {{ monitors.count }} шт</p>
                    <div class="types_result">
                        {% for monitor in monitors %}
                            <div class="types_mo_group_result">
                                <label>
                                    <input class="check checkbox" type="checkbox" name="monitor {{ monitor.id }}"/>
                                    <span class="checkbox-custom"></span>
                                </label>

                                <p class="mo_name"><a name="{{ monitor.id }}" onclick="get_monitor_detail(this)"> {{ monitor.name }}: {{ monitor.otherserial }} </a></p>
                                <div class="mo_detail" style="display: none;">
                                    <div id="{{ monitor.id }}mon_detail"></div>
                                    <p>
                                        <a class="mo_action" onclick="update_monitor( {{ monitor.id }} )" id="myBtn">Редактировать</a>
                                        <a class="mo_action" href="{% url 'del_monitor' pk=monitor.pk %}">Удалить объект</a>
                                    </p>

                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endifchanged %}


            <p class="types">{{ mo_type }}: {{ count }} шт </p>

            <div class="types_result">
                    {% for k, v in mo_dict.items %}
                        {% if  k == mo_type %}
                            {% for mo in v %}
                                <div class="types_mo_group_result">
                                    <label>
                                        <input class="check checkbox" type="checkbox" name="mo {{ mo.MO_id }}"/>
                                        <span class="checkbox-custom"></span>
                                    </label>

                                    <p class="mo_name"><a name="{{ mo.MO_id }}" onclick="get_mo_detail(this)"> {{ mo.name }} - {{ mo.serial }} </a></p>

                                    <div class="mo_detail" style="display: none;">
                                        <p>ИН: {{ mo.serial }}</p>
                                        <p>Аудитория: {{ mo.location }}</p>
                                        <p>Ответственный: {{ mo.contact }}</p>
                                        <p>Тип объекта: {{ mo.mo_type }}</p>

                                        <div id="mo_detail_res"></div>
                                        <p>
                                            <a class="mo_action" onclick="update_mo({{ mo.MO_id }})" id="myBtn">Редактировать</a>
                                            <a class="mo_action" href="{% url 'del_mo'  pk=mo.MO_id %}">Удалить объект</a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
        {% endfor %}
    </div>
    </div>

    <div class="location_lists">
        {% for k, v in mo_dict_loc.items %}
            <p class="first_letter mo_by_loc">
                {% if k == None or k == '' %}
                    Не определено - {{ v|length }} шт
                {% else %}
                    {{ k }} - {{ v|length }} шт
                {% endif %}
            </p>
            <div class="types_result">
            {% for mo in v %}
                <div class="types_mo_group_result">
                    <label>
                        <input class="check checkbox" type="checkbox" name="mo {{ mo.MO_id }}"/>
                        <span class="checkbox-custom"></span>
                    </label>
                    <p class="mo_name"><a name="{{ mo.MO_id }}" onclick="get_mo_detail(this)"> {{ mo.name }} - {{ mo.serial }} {{ mo.otherserial }}</a></p>

                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="bottom_menu">
        <!-- Кнопка переноса оборудования -->
        <div class="transfer_box">
            <div class="loc_input">
                <input type="text" placeholder="Укажите аудиторию" id="location_name">
            </div>
            <div class="transfer_but" onclick="mo_transfer()"> Перенести </div>

        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="edit_mo">
            </div>
        </div>

    </div>

</div>

{% endblock content %}