<html>
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
</head>

<body class="white">
	
    <div class="header">
        <div class="menu_box">
            <div class="logo_404"><p>KnASTU<br>Inventory Serviсe </p></div>
        </div>

        <div class="banner">
            <p>Упс! Страница не найдена</p>
        </div>
    </div>

    <div class="banner_404"><img src="../static/images/fuel-404-logo.png" alt="" /></div>

     <a style="text-decoration: none;" href="{% url 'index'%}"><div class="back_button">На главную</div></a>

	    	
</body>
</html>    

